.mainContainer {
	margin-left: 20px;

	&__title {
		display: flex;
		align-items: center;
		font-size: 30px;

		.mainContainer__input {
			width: 20px;
			height: 20px;
		}

		.mainContainer__label {
			margin-left: 10px;
		}
	}
}
